.navegacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.0rem
}

@media screen and (max-width: 768px) {
    .navegacao {
        flex-direction: column;
        gap: 5px;
    }
}