.navegacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.0rem
}

@media screen and (min-width: 320px) {
    .navegacao {
        flex-direction: column;
    }
}