.navegacao__items {
    display: inline;
    list-style: none;
    margin-right: 4.8rem;
}

.navegacao__items .select{
    font-weight: bold;
}

.navegacao__items:last-child {
    margin-right: 0; 
}

@media screen and (max-width: 768px) {
    .navegacao__items {
        margin-right: 0;
    }
}