* {
    --bg-body: #FFFFFF;
    --bg-button: #69B99D;
    
    --fc-body: #000000;
    --fc-button: #F9F9F9;
    --fc-description: #7D7987;
    --fc-link: #1F1534;
    --fc-span: #89C5CC;


    --ff-body: 'Mulish', sans-serif;
    --ff-button: 'DM Sans', sans-serif;
    --ff-small: 'Open Sans', sans-serif;

    box-sizing: border-box;
    font-size: 62.5%; 
    margin: 0;
    padding: 0;
}

.page {
    height: 100vh;
    width: 108rem;
    margin: 0 auto;
    padding: 6.0rem 0 3.0rem;
}

.navegacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.0rem
}

.navegacao__items {
    display: inline;
    list-style: none;
    margin-right: 4.8rem;
}

.navegacao__link {
    color: var(--fc-link);
    font-family: var(--ff-body);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-decoration: none;
    text-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navegacao__link:hover {
    font-weight: bold;
}

.navegacao__items .select{
    font-weight: bold;
}

.navegacao__items:last-child {
    margin-right: 0; 
}

.main__title {
    color: var(--fc-body);
    font-family: var(--ff-body);
    font-size: 4.9rem;
    font-weight: 400;
    line-height: 5.6rem;
    margin-bottom: 4.0rem;
    width: 48.9rem;
}

.main__title span {
    color: var(--fc-span);
    font-family: var(--ff-body);
    font-size: 4.9rem;
    font-weight: 700;
    line-height: 5.6rem;
}

.main__description {
    color: var(--fc-description);
    font-family: var(--ff-small);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 4.0rem;
    width: 37.8rem;
}

.main__description strong {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.main__button {
    align-items: center;
    background-color: var(--bg-button);
    border: none;
    border-radius: 4px;
    color: var(--fc-button);
    cursor: pointer;
    display: flex;
    font-family: var(--ff-button);
    font-size: 1.6rem;
    font-weight: 500;
    gap: 1.0rem;
    line-height: 2.1rem;
    padding: 14px 32px;
    text-transform: uppercase;
}

.img__decorativa {
    bottom: 0px;
    position: absolute;
    right: 0;
}

.rodape__description {
    font-family: var(--ff-small);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: center;
}

.rodape__description-link {
    color: #000000;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.8rem;
    text-decoration: none;
}

.box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.0rem;
}