.navegacao__link {
    color: var(--fc-link);
    font-family: var(--ff-body);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-decoration: none;
    text-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navegacao__link:hover {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navegacao__link {
        display: flex;
        border-bottom: 1px solid #9799A6;
        text-align: center;
        justify-content: center;
        width: 100vw;
        padding: 10px;
    }
}